<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-label style="margin-left: 20px; font-family: 'Poppins', sans-serif; font-weight: 500; font-size: 20px;">Information</ion-label>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div style="margin-top: 5px;"  *ngIf="thn_akademik_informasi == thn_akademik_setting ">
    <div class="chats" *ngFor="let hasil of arrayData">

      <p data-time="4:20 PM" class="chat-bubble msg-in " >
        <ion-icon name="people-circle-sharp">
        </ion-icon>&nbsp;
        <ion-note>Faculty</ion-note><br><br>
       {{hasil.fakultas_info}}
      </p>

      <p data-time="4:20 PM" class="chat-bubble msg-out">
        <ion-icon name="school" slot="end"></ion-icon>&nbsp;
        <ion-note>Prody</ion-note><br><br>
         {{hasil.prodi_info}}  
      </p>
    
    </div>
  </div>

  
</ion-content>