<ion-content>
  <div class="">
    <img class="imgLondon" src="/assets/unbin.png" alt="">
  </div>
     <div class="header">
      <p style="color: black; font-weight: bold;">Please Login <br>to Continue</p>
    </div>
    <div class="form">
      <ion-input type="number" placeholder="Npm" [(ngModel)]="user_id"></ion-input>
      <ion-input type="password" placeholder="Password" [(ngModel)]="pass"></ion-input>
    </div>

    <div class="button" (click)="login(pass)">
      Login <ion-icon name="chevron-forward-outline"></ion-icon>
    </div>
    <!-- <div style="margin-top: -5px; padding-left: 115px;">
      <img style="margin-left: 30px; width: 100%;" src="/assets/bg-login2.svg" alt="">
    </div> -->
  </ion-content>